body::before {
    /* fixes the fixed navbar */
    display: block;
    content: '';
    height: 60px;
}

body {
    /* background */
    background-color: rgb(37, 38, 39);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url('img/adrien-olichon-RCAhiGJsUUE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* typography */
    color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: transparent;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
    color: #fff;
}

.infobox {
    background-color: #fff;
    color: #000;
}

@media (max-width: 425px) {
    .contact-icons {
        width: 75% !important;
    }
}

@media (max-width: 992px) {
    .info {
        padding: 20px 0 20px 0;
        text-align: center;
    }
    .navbar {
        /* background-color: #000; */
        /* fallback for script */
    }
}
